html {
  overflow-y: scroll;
}

.lajtof-header {

}

.lajtof-header-nav {

}

.lajtof-header-nav-link {
    &:hover {
        //background-color: lighten($lajtof-color, 8%);
        color: $gray-300 !important;
        @include lajtof-basic-transition;
    }
}

.lajtof-section-posts-control {

}

.lajtof-section-posts-new {

}

.lajtof-badge {
    font-size: 1rem;
}

.lajtof-alert {
    opacity: 0.8 !important;
    right: 0;
}

.lajtof-header-notifications-dropdown {
    width: 20rem !important;
}
